UniSell.NET/UniSell.NET.ConsoleClient/Service References/AdminWS/adminmanagement2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.unisell.miw.uniovi/" xmlns:ns1="http://unisell.net.data/" targetNamespace="http://ws.unisell.miw.uniovi/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://156.35.98.14:8443/Unisell.Java.UserManagement/adminmanagement?xsd=2" namespace="http://unisell.net.data/" />
  <xs:element name="ArgumentException" type="tns:ArgumentException" />
  <xs:element name="InvalidEntityException" type="tns:InvalidEntityException" />
  <xs:element name="RepeatedDocumentException" type="tns:RepeatedDocumentException" />
  <xs:element name="RepeatedEmailException" type="tns:RepeatedEmailException" />
  <xs:element name="RepeatedUsernameException" type="tns:RepeatedUsernameException" />
  <xs:element name="UnauthorizedAccessException" type="tns:UnauthorizedAccessException" />
  <xs:element name="createAdmin" type="tns:createAdmin" />
  <xs:element name="createAdminResponse" type="tns:createAdminResponse" />
  <xs:element name="editAdmin" type="tns:editAdmin" />
  <xs:element name="editAdminResponse" type="tns:editAdminResponse" />
  <xs:element name="findAdmin" type="tns:findAdmin" />
  <xs:element name="findAdminResponse" type="tns:findAdminResponse" />
  <xs:complexType name="findAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg1" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findAdminResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:editUserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editUserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="userData" type="tns:userData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userData">
    <xs:sequence>
      <xs:element name="accountEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="documentType" type="ns1:PersonIdDocumentType" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="idDocument" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="role" type="ns1:UserRole" />
      <xs:element minOccurs="0" name="surname" type="xs:string" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArgumentException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnauthorizedAccessException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg1" type="tns:userData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createAdminResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:editUserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvalidEntityException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RepeatedUsernameException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RepeatedEmailException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RepeatedDocumentException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg1" type="tns:editUserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editAdminResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:editUserData" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>