UniSell.NET/UniSell.NET.ConsoleClient/Service References/SellerWS/sellermanagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.unisell.miw.uniovi/" targetNamespace="http://ws.unisell.miw.uniovi/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://156.35.98.14:8443/Unisell.Java.UserManagement/sellermanagement?xsd=1" namespace="http://ws.unisell.miw.uniovi/" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="https://156.35.98.14:8443/Unisell.Java.UserManagement/sellermanagement?xsd=2" namespace="http://unisell.net.data/" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="https://156.35.98.14:8443/Unisell.Java.UserManagement/sellermanagement?xsd=3" namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" />
    </xsd:schema>
  </types>
  <message name="findSellersByCompanyId">
    <part name="parameters" element="tns:findSellersByCompanyId" />
    <part xmlns:ns1="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns1:arg0" />
  </message>
  <message name="findSellersByCompanyIdResponse">
    <part name="result" element="tns:findSellersByCompanyIdResponse" />
  </message>
  <message name="ArgumentException">
    <part name="fault" element="tns:ArgumentException" />
  </message>
  <message name="UnauthorizedAccessException">
    <part name="fault" element="tns:UnauthorizedAccessException" />
  </message>
  <message name="editSeller">
    <part name="parameters" element="tns:editSeller" />
    <part xmlns:ns2="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns2:arg0" />
  </message>
  <message name="editSellerResponse">
    <part name="result" element="tns:editSellerResponse" />
  </message>
  <message name="InvalidEntityException">
    <part name="fault" element="tns:InvalidEntityException" />
  </message>
  <message name="RepeatedUsernameException">
    <part name="fault" element="tns:RepeatedUsernameException" />
  </message>
  <message name="RepeatedEmailException">
    <part name="fault" element="tns:RepeatedEmailException" />
  </message>
  <message name="RepeatedDocumentException">
    <part name="fault" element="tns:RepeatedDocumentException" />
  </message>
  <message name="findSeller">
    <part name="parameters" element="tns:findSeller" />
    <part xmlns:ns3="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns3:arg0" />
  </message>
  <message name="findSellerResponse">
    <part name="result" element="tns:findSellerResponse" />
  </message>
  <message name="createSeller">
    <part name="parameters" element="tns:createSeller" />
    <part xmlns:ns4="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns4:arg0" />
  </message>
  <message name="createSellerResponse">
    <part name="result" element="tns:createSellerResponse" />
  </message>
  <portType name="IUserSellerWS">
    <operation name="findSellersByCompanyId" parameterOrder="parameters arg0">
      <input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/findSellersByCompanyIdRequest" message="tns:findSellersByCompanyId" />
      <output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/findSellersByCompanyIdResponse" message="tns:findSellersByCompanyIdResponse" />
      <fault xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/findSellersByCompanyId/Fault/ArgumentException" name="ArgumentException" message="tns:ArgumentException" />
      <fault xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/findSellersByCompanyId/Fault/UnauthorizedAccessException" name="UnauthorizedAccessException" message="tns:UnauthorizedAccessException" />
    </operation>
    <operation name="editSeller" parameterOrder="parameters arg0">
      <input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/editSellerRequest" message="tns:editSeller" />
      <output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/editSellerResponse" message="tns:editSellerResponse" />
      <fault xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/editSeller/Fault/InvalidEntityException" name="InvalidEntityException" message="tns:InvalidEntityException" />
      <fault xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/editSeller/Fault/RepeatedUsernameException" name="RepeatedUsernameException" message="tns:RepeatedUsernameException" />
      <fault xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/editSeller/Fault/RepeatedEmailException" name="RepeatedEmailException" message="tns:RepeatedEmailException" />
      <fault xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/editSeller/Fault/RepeatedDocumentException" name="RepeatedDocumentException" message="tns:RepeatedDocumentException" />
      <fault xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" ns15:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/editSeller/Fault/UnauthorizedAccessException" name="UnauthorizedAccessException" message="tns:UnauthorizedAccessException" />
    </operation>
    <operation name="findSeller" parameterOrder="parameters arg0">
      <input xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" ns16:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/findSellerRequest" message="tns:findSeller" />
      <output xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" ns17:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/findSellerResponse" message="tns:findSellerResponse" />
      <fault xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" ns18:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/findSeller/Fault/ArgumentException" name="ArgumentException" message="tns:ArgumentException" />
      <fault xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" ns19:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/findSeller/Fault/UnauthorizedAccessException" name="UnauthorizedAccessException" message="tns:UnauthorizedAccessException" />
    </operation>
    <operation name="createSeller" parameterOrder="parameters arg0">
      <input xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata" ns20:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/createSellerRequest" message="tns:createSeller" />
      <output xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata" ns21:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/createSellerResponse" message="tns:createSellerResponse" />
      <fault xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata" ns22:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/createSeller/Fault/InvalidEntityException" name="InvalidEntityException" message="tns:InvalidEntityException" />
      <fault xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata" ns23:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/createSeller/Fault/RepeatedUsernameException" name="RepeatedUsernameException" message="tns:RepeatedUsernameException" />
      <fault xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata" ns24:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/createSeller/Fault/RepeatedEmailException" name="RepeatedEmailException" message="tns:RepeatedEmailException" />
      <fault xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata" ns25:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/createSeller/Fault/RepeatedDocumentException" name="RepeatedDocumentException" message="tns:RepeatedDocumentException" />
      <fault xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata" ns26:Action="http://ws.unisell.miw.uniovi/IUserSellerWS/createSeller/Fault/UnauthorizedAccessException" name="UnauthorizedAccessException" message="tns:UnauthorizedAccessException" />
    </operation>
  </portType>
</definitions>