UniSell.NET/UniSell.NET.ConsoleClient/Service References/CategoryWS/categorymanagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.unisell.miw.uniovi/" targetNamespace="http://ws.unisell.miw.uniovi/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://156.35.98.14:8443/Unisell.Java.UserManagement/categorymanagement?xsd=1" namespace="http://ws.unisell.miw.uniovi/" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="https://156.35.98.14:8443/Unisell.Java.UserManagement/categorymanagement?xsd=2" namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" />
    </xsd:schema>
  </types>
  <message name="findCategory">
    <part name="parameters" element="tns:findCategory" />
    <part xmlns:ns1="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns1:arg0" />
  </message>
  <message name="findCategoryResponse">
    <part name="result" element="tns:findCategoryResponse" />
  </message>
  <message name="ArgumentException">
    <part name="fault" element="tns:ArgumentException" />
  </message>
  <message name="UnauthorizedAccessException">
    <part name="fault" element="tns:UnauthorizedAccessException" />
  </message>
  <message name="removeCategory">
    <part name="parameters" element="tns:removeCategory" />
    <part xmlns:ns2="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns2:arg0" />
  </message>
  <message name="removeCategoryResponse">
    <part name="result" element="tns:removeCategoryResponse" />
  </message>
  <message name="ElementNotFoundException">
    <part name="fault" element="tns:ElementNotFoundException" />
  </message>
  <message name="CannotRemoveElementException">
    <part name="fault" element="tns:CannotRemoveElementException" />
  </message>
  <message name="createCategory">
    <part name="parameters" element="tns:createCategory" />
    <part xmlns:ns3="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns3:arg0" />
  </message>
  <message name="createCategoryResponse">
    <part name="result" element="tns:createCategoryResponse" />
  </message>
  <message name="RepeatedNameException">
    <part name="fault" element="tns:RepeatedNameException" />
  </message>
  <message name="InvalidEntityException">
    <part name="fault" element="tns:InvalidEntityException" />
  </message>
  <message name="listCategoriesByName">
    <part name="parameters" element="tns:listCategoriesByName" />
    <part xmlns:ns4="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns4:arg0" />
  </message>
  <message name="listCategoriesByNameResponse">
    <part name="result" element="tns:listCategoriesByNameResponse" />
  </message>
  <message name="editCategory">
    <part name="parameters" element="tns:editCategory" />
    <part xmlns:ns5="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns5:arg0" />
  </message>
  <message name="editCategoryResponse">
    <part name="result" element="tns:editCategoryResponse" />
  </message>
  <portType name="ICategoryWS">
    <operation name="findCategory" parameterOrder="parameters arg0">
      <input xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://ws.unisell.miw.uniovi/ICategoryWS/findCategoryRequest" message="tns:findCategory" />
      <output xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://ws.unisell.miw.uniovi/ICategoryWS/findCategoryResponse" message="tns:findCategoryResponse" />
      <fault xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://ws.unisell.miw.uniovi/ICategoryWS/findCategory/Fault/ArgumentException" name="ArgumentException" message="tns:ArgumentException" />
      <fault xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://ws.unisell.miw.uniovi/ICategoryWS/findCategory/Fault/UnauthorizedAccessException" name="UnauthorizedAccessException" message="tns:UnauthorizedAccessException" />
    </operation>
    <operation name="removeCategory" parameterOrder="parameters arg0">
      <input xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://ws.unisell.miw.uniovi/ICategoryWS/removeCategoryRequest" message="tns:removeCategory" />
      <output xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://ws.unisell.miw.uniovi/ICategoryWS/removeCategoryResponse" message="tns:removeCategoryResponse" />
      <fault xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://ws.unisell.miw.uniovi/ICategoryWS/removeCategory/Fault/ArgumentException" name="ArgumentException" message="tns:ArgumentException" />
      <fault xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://ws.unisell.miw.uniovi/ICategoryWS/removeCategory/Fault/ElementNotFoundException" name="ElementNotFoundException" message="tns:ElementNotFoundException" />
      <fault xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://ws.unisell.miw.uniovi/ICategoryWS/removeCategory/Fault/CannotRemoveElementException" name="CannotRemoveElementException" message="tns:CannotRemoveElementException" />
      <fault xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" ns15:Action="http://ws.unisell.miw.uniovi/ICategoryWS/removeCategory/Fault/UnauthorizedAccessException" name="UnauthorizedAccessException" message="tns:UnauthorizedAccessException" />
    </operation>
    <operation name="createCategory" parameterOrder="parameters arg0">
      <input xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" ns16:Action="http://ws.unisell.miw.uniovi/ICategoryWS/createCategoryRequest" message="tns:createCategory" />
      <output xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" ns17:Action="http://ws.unisell.miw.uniovi/ICategoryWS/createCategoryResponse" message="tns:createCategoryResponse" />
      <fault xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" ns18:Action="http://ws.unisell.miw.uniovi/ICategoryWS/createCategory/Fault/RepeatedNameException" name="RepeatedNameException" message="tns:RepeatedNameException" />
      <fault xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" ns19:Action="http://ws.unisell.miw.uniovi/ICategoryWS/createCategory/Fault/InvalidEntityException" name="InvalidEntityException" message="tns:InvalidEntityException" />
      <fault xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata" ns20:Action="http://ws.unisell.miw.uniovi/ICategoryWS/createCategory/Fault/UnauthorizedAccessException" name="UnauthorizedAccessException" message="tns:UnauthorizedAccessException" />
    </operation>
    <operation name="listCategoriesByName" parameterOrder="parameters arg0">
      <input xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata" ns21:Action="http://ws.unisell.miw.uniovi/ICategoryWS/listCategoriesByNameRequest" message="tns:listCategoriesByName" />
      <output xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata" ns22:Action="http://ws.unisell.miw.uniovi/ICategoryWS/listCategoriesByNameResponse" message="tns:listCategoriesByNameResponse" />
      <fault xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata" ns23:Action="http://ws.unisell.miw.uniovi/ICategoryWS/listCategoriesByName/Fault/UnauthorizedAccessException" name="UnauthorizedAccessException" message="tns:UnauthorizedAccessException" />
    </operation>
    <operation name="editCategory" parameterOrder="parameters arg0">
      <input xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata" ns24:Action="http://ws.unisell.miw.uniovi/ICategoryWS/editCategoryRequest" message="tns:editCategory" />
      <output xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata" ns25:Action="http://ws.unisell.miw.uniovi/ICategoryWS/editCategoryResponse" message="tns:editCategoryResponse" />
      <fault xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata" ns26:Action="http://ws.unisell.miw.uniovi/ICategoryWS/editCategory/Fault/RepeatedNameException" name="RepeatedNameException" message="tns:RepeatedNameException" />
      <fault xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata" ns27:Action="http://ws.unisell.miw.uniovi/ICategoryWS/editCategory/Fault/InvalidEntityException" name="InvalidEntityException" message="tns:InvalidEntityException" />
      <fault xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata" ns28:Action="http://ws.unisell.miw.uniovi/ICategoryWS/editCategory/Fault/UnauthorizedAccessException" name="UnauthorizedAccessException" message="tns:UnauthorizedAccessException" />
    </operation>
  </portType>
</definitions>