UniSell.NET/UniSell.NET.ConsoleClient/Service References/UniSellCompanyWS/companymanagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.unisell.miw.uniovi/" targetNamespace="http://ws.unisell.miw.uniovi/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://156.35.98.14:8086/Unisell.Java.UserManagement/companymanagement?xsd=1" namespace="http://ws.unisell.miw.uniovi/" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://156.35.98.14:8086/Unisell.Java.UserManagement/companymanagement?xsd=2" namespace="http://unisell.net.data/" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://156.35.98.14:8086/Unisell.Java.UserManagement/companymanagement?xsd=3" namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" />
    </xsd:schema>
  </types>
  <message name="findCompany">
    <part name="parameters" element="tns:findCompany" />
    <part xmlns:ns1="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns1:arg0" />
  </message>
  <message name="findCompanyResponse">
    <part name="result" element="tns:findCompanyResponse" />
  </message>
  <message name="ArgumentException">
    <part name="fault" element="tns:ArgumentException" />
  </message>
  <message name="removeCompany">
    <part name="parameters" element="tns:removeCompany" />
    <part xmlns:ns2="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns2:arg0" />
  </message>
  <message name="removeCompanyResponse">
    <part name="result" element="tns:removeCompanyResponse" />
  </message>
  <message name="ElementNotFoundException">
    <part name="fault" element="tns:ElementNotFoundException" />
  </message>
  <message name="CannotRemoveElementException">
    <part name="fault" element="tns:CannotRemoveElementException" />
  </message>
  <message name="editCompany">
    <part name="parameters" element="tns:editCompany" />
    <part xmlns:ns3="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns3:arg0" />
  </message>
  <message name="editCompanyResponse">
    <part name="result" element="tns:editCompanyResponse" />
  </message>
  <message name="RepeatedDocumentException">
    <part name="fault" element="tns:RepeatedDocumentException" />
  </message>
  <message name="InvalidEntityException">
    <part name="fault" element="tns:InvalidEntityException" />
  </message>
  <message name="createCompany">
    <part name="parameters" element="tns:createCompany" />
    <part xmlns:ns4="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns4:arg0" />
  </message>
  <message name="createCompanyResponse">
    <part name="result" element="tns:createCompanyResponse" />
  </message>
  <message name="listCompaniesByFilter">
    <part name="parameters" element="tns:listCompaniesByFilter" />
    <part xmlns:ns5="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns5:arg0" />
  </message>
  <message name="listCompaniesByFilterResponse">
    <part name="result" element="tns:listCompaniesByFilterResponse" />
  </message>
  <message name="UnauthorizeAccessException">
    <part name="fault" element="tns:UnauthorizeAccessException" />
  </message>
  <portType name="ICompanyWS">
    <operation name="findCompany" parameterOrder="parameters arg0">
      <input xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://ws.unisell.miw.uniovi/ICompanyWS/findCompanyRequest" message="tns:findCompany" />
      <output xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://ws.unisell.miw.uniovi/ICompanyWS/findCompanyResponse" message="tns:findCompanyResponse" />
      <fault xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://ws.unisell.miw.uniovi/ICompanyWS/findCompany/Fault/ArgumentException" name="ArgumentException" message="tns:ArgumentException" />
    </operation>
    <operation name="removeCompany" parameterOrder="parameters arg0">
      <input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://ws.unisell.miw.uniovi/ICompanyWS/removeCompanyRequest" message="tns:removeCompany" />
      <output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://ws.unisell.miw.uniovi/ICompanyWS/removeCompanyResponse" message="tns:removeCompanyResponse" />
      <fault xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://ws.unisell.miw.uniovi/ICompanyWS/removeCompany/Fault/ArgumentException" name="ArgumentException" message="tns:ArgumentException" />
      <fault xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://ws.unisell.miw.uniovi/ICompanyWS/removeCompany/Fault/ElementNotFoundException" name="ElementNotFoundException" message="tns:ElementNotFoundException" />
      <fault xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://ws.unisell.miw.uniovi/ICompanyWS/removeCompany/Fault/CannotRemoveElementException" name="CannotRemoveElementException" message="tns:CannotRemoveElementException" />
    </operation>
    <operation name="editCompany" parameterOrder="parameters arg0">
      <input xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://ws.unisell.miw.uniovi/ICompanyWS/editCompanyRequest" message="tns:editCompany" />
      <output xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" ns15:Action="http://ws.unisell.miw.uniovi/ICompanyWS/editCompanyResponse" message="tns:editCompanyResponse" />
      <fault xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" ns16:Action="http://ws.unisell.miw.uniovi/ICompanyWS/editCompany/Fault/RepeatedDocumentException" name="RepeatedDocumentException" message="tns:RepeatedDocumentException" />
      <fault xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" ns17:Action="http://ws.unisell.miw.uniovi/ICompanyWS/editCompany/Fault/InvalidEntityException" name="InvalidEntityException" message="tns:InvalidEntityException" />
    </operation>
    <operation name="createCompany" parameterOrder="parameters arg0">
      <input xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" ns18:Action="http://ws.unisell.miw.uniovi/ICompanyWS/createCompanyRequest" message="tns:createCompany" />
      <output xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" ns19:Action="http://ws.unisell.miw.uniovi/ICompanyWS/createCompanyResponse" message="tns:createCompanyResponse" />
      <fault xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata" ns20:Action="http://ws.unisell.miw.uniovi/ICompanyWS/createCompany/Fault/RepeatedDocumentException" name="RepeatedDocumentException" message="tns:RepeatedDocumentException" />
      <fault xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata" ns21:Action="http://ws.unisell.miw.uniovi/ICompanyWS/createCompany/Fault/InvalidEntityException" name="InvalidEntityException" message="tns:InvalidEntityException" />
    </operation>
    <operation name="listCompaniesByFilter" parameterOrder="parameters arg0">
      <input xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata" ns22:Action="http://ws.unisell.miw.uniovi/ICompanyWS/listCompaniesByFilterRequest" message="tns:listCompaniesByFilter" />
      <output xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata" ns23:Action="http://ws.unisell.miw.uniovi/ICompanyWS/listCompaniesByFilterResponse" message="tns:listCompaniesByFilterResponse" />
      <fault xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata" ns24:Action="http://ws.unisell.miw.uniovi/ICompanyWS/listCompaniesByFilter/Fault/UnauthorizeAccessException" name="UnauthorizeAccessException" message="tns:UnauthorizeAccessException" />
      <fault xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata" ns25:Action="http://ws.unisell.miw.uniovi/ICompanyWS/listCompaniesByFilter/Fault/ArgumentException" name="ArgumentException" message="tns:ArgumentException" />
    </operation>
  </portType>
</definitions>