UniSell.BPEL/bpelContent/CreationWS1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><xs:schema xmlns:tns="http://ws.unisell.miw.uniovi/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.unisell.miw.uniovi/">

<xs:complexType name="shoppingCart">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="authToken" type="xs:string" minOccurs="0"/>
<xs:element name="buyerId" type="xs:long" minOccurs="0"/>
<xs:element name="items" type="tns:item" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="productsAvailable" type="xs:boolean"/>
<xs:element name="signature" type="xs:string" minOccurs="0"/>
<xs:element name="successfulPayment" type="xs:boolean"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="item">
<xs:sequence>
<xs:element name="productId" type="xs:long" minOccurs="0"/>
<xs:element name="units" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>