UniSell.BPEL/bpelContent/CreationWS2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><xs:schema xmlns:tns="http://orderws.unisell.miw.uniovi/" xmlns:ns1="http://ws.unisell.miw.uniovi/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://orderws.unisell.miw.uniovi/">

<xs:import namespace="http://ws.unisell.miw.uniovi/" schemaLocation="http://localhost:8086/UniSell.BPEL.CreateOrder/createorder?xsd=1"/>

<xs:element name="ArgumentException" type="tns:ArgumentException"/>

<xs:element name="PaymentException" type="tns:PaymentException"/>

<xs:element name="createOrder" type="tns:createOrder"/>

<xs:element name="createOrderResponse" type="tns:createOrderResponse"/>

<xs:complexType name="createOrder">
<xs:sequence>
<xs:element name="arg0" type="ns1:shoppingCart" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PaymentException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ArgumentException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>