UniSell.BPEL/bpelContent/PaymentWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Pay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderDetails" type="tns:ShoppingCartPayment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ShoppingCartPayment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="items" type="tns:ArrayOfItemPayment" />
          <s:element minOccurs="1" maxOccurs="1" name="buyerId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="productsAvailable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="successfulPayment" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemPayment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ItemPayment" nillable="true" type="tns:ItemPayment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemPayment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="units" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="PayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PayResult" type="tns:ShoppingCartPayment" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PaySoapIn">
    <wsdl:part name="parameters" element="tns:Pay" />
  </wsdl:message>
  <wsdl:message name="PaySoapOut">
    <wsdl:part name="parameters" element="tns:PayResponse" />
  </wsdl:message>
  <wsdl:portType name="PaymentWSSoap">
    <wsdl:operation name="Pay">
      <wsdl:input message="tns:PaySoapIn" />
      <wsdl:output message="tns:PaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentWSSoap" type="tns:PaymentWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Pay">
      <soap:operation soapAction="http://tempuri.org/Pay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentWSSoap12" type="tns:PaymentWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Pay">
      <soap12:operation soapAction="http://tempuri.org/Pay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentWS">
    <wsdl:port name="PaymentWSSoap" binding="tns:PaymentWSSoap">
      <soap:address location="http://localhost:50480/ws/PaymentWS.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentWSSoap12" binding="tns:PaymentWSSoap12">
      <soap12:address location="http://localhost:50480/ws/PaymentWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>