UniSell.NET/UniSell.NET.BPEL.PayPalPayment/Service References/ProductAvailabilityWS/productavailability.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.unisell.miw.uniovi/" targetNamespace="http://ws.unisell.miw.uniovi/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArgumentException" type="tns:ArgumentException" />
  <xs:element name="ProductNotAvailableException" type="tns:ProductNotAvailableException" />
  <xs:element name="checkAvailability" type="tns:checkAvailability" />
  <xs:element name="checkAvailabilityResponse" type="tns:checkAvailabilityResponse" />
  <xs:complexType name="checkAvailability">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:shoppingCart" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shoppingCart">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:double" />
      <xs:element minOccurs="0" name="authToken" type="xs:string" />
      <xs:element minOccurs="0" name="buyerId" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="items" nillable="true" type="tns:item" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element name="productsAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="signature" type="xs:string" />
      <xs:element name="successfulPayment" type="xs:boolean" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="item">
    <xs:sequence>
      <xs:element minOccurs="0" name="productId" type="xs:long" />
      <xs:element minOccurs="0" name="units" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkAvailabilityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:shoppingCart" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductNotAvailableException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArgumentException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>