UniSell.NET/UniSell.NET.ConsoleClient/Service References/UniSellWS/usermanagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.unisell.miw.uniovi/" targetNamespace="http://ws.unisell.miw.uniovi/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://156.35.98.14:8086/Unisell.Java.UserManagement/usermanagement?xsd=1" namespace="http://ws.unisell.miw.uniovi/" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://156.35.98.14:8086/Unisell.Java.UserManagement/usermanagement?xsd=2" namespace="http://unisell.net.data/" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://156.35.98.14:8086/Unisell.Java.UserManagement/usermanagement?xsd=3" namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" />
    </xsd:schema>
  </types>
  <message name="login">
    <part name="parameters" element="tns:login" />
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse" />
  </message>
  <message name="ArgumentException">
    <part name="fault" element="tns:ArgumentException" />
  </message>
  <message name="listUsersByFilter">
    <part name="parameters" element="tns:listUsersByFilter" />
    <part xmlns:ns1="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns1:arg0" />
  </message>
  <message name="listUsersByFilterResponse">
    <part name="result" element="tns:listUsersByFilterResponse" />
  </message>
  <message name="UnauthorizeAccessException">
    <part name="fault" element="tns:UnauthorizeAccessException" />
  </message>
  <message name="disableAccount">
    <part name="parameters" element="tns:disableAccount" />
    <part xmlns:ns2="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns2:arg0" />
  </message>
  <message name="disableAccountResponse">
    <part name="result" element="tns:disableAccountResponse" />
  </message>
  <message name="enableAccount">
    <part name="parameters" element="tns:enableAccount" />
    <part xmlns:ns3="http://schemas.xmlsoap.org/ws/2002/04/secext" name="arg0" element="ns3:arg0" />
  </message>
  <message name="enableAccountResponse">
    <part name="result" element="tns:enableAccountResponse" />
  </message>
  <portType name="IUserWS">
    <operation name="login">
      <input xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://ws.unisell.miw.uniovi/IUserWS/loginRequest" message="tns:login" />
      <output xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://ws.unisell.miw.uniovi/IUserWS/loginResponse" message="tns:loginResponse" />
      <fault xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://ws.unisell.miw.uniovi/IUserWS/login/Fault/ArgumentException" name="ArgumentException" message="tns:ArgumentException" />
    </operation>
    <operation name="listUsersByFilter" parameterOrder="parameters arg0">
      <input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://ws.unisell.miw.uniovi/IUserWS/listUsersByFilterRequest" message="tns:listUsersByFilter" />
      <output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://ws.unisell.miw.uniovi/IUserWS/listUsersByFilterResponse" message="tns:listUsersByFilterResponse" />
      <fault xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://ws.unisell.miw.uniovi/IUserWS/listUsersByFilter/Fault/UnauthorizeAccessException" name="UnauthorizeAccessException" message="tns:UnauthorizeAccessException" />
      <fault xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://ws.unisell.miw.uniovi/IUserWS/listUsersByFilter/Fault/ArgumentException" name="ArgumentException" message="tns:ArgumentException" />
    </operation>
    <operation name="disableAccount" parameterOrder="parameters arg0">
      <input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://ws.unisell.miw.uniovi/IUserWS/disableAccountRequest" message="tns:disableAccount" />
      <output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://ws.unisell.miw.uniovi/IUserWS/disableAccountResponse" message="tns:disableAccountResponse" />
      <fault xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://ws.unisell.miw.uniovi/IUserWS/disableAccount/Fault/UnauthorizeAccessException" name="UnauthorizeAccessException" message="tns:UnauthorizeAccessException" />
      <fault xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://ws.unisell.miw.uniovi/IUserWS/disableAccount/Fault/ArgumentException" name="ArgumentException" message="tns:ArgumentException" />
    </operation>
    <operation name="enableAccount" parameterOrder="parameters arg0">
      <input xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" ns15:Action="http://ws.unisell.miw.uniovi/IUserWS/enableAccountRequest" message="tns:enableAccount" />
      <output xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" ns16:Action="http://ws.unisell.miw.uniovi/IUserWS/enableAccountResponse" message="tns:enableAccountResponse" />
      <fault xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" ns17:Action="http://ws.unisell.miw.uniovi/IUserWS/enableAccount/Fault/UnauthorizeAccessException" name="UnauthorizeAccessException" message="tns:UnauthorizeAccessException" />
      <fault xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" ns18:Action="http://ws.unisell.miw.uniovi/IUserWS/enableAccount/Fault/ArgumentException" name="ArgumentException" message="tns:ArgumentException" />
    </operation>
  </portType>
</definitions>