UniSell.NET/UniSell.NET.ConsoleClient/Service References/UniSellWS/usermanagement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://unisell.net.data/" elementFormDefault="qualified" targetNamespace="http://unisell.net.data/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserSearchFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdDocument" type="xs:string" />
      <xs:element name="IdDocumentType" type="xs:string" />
      <xs:element minOccurs="0" name="Email" type="xs:string" />
      <xs:element minOccurs="0" name="Name" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" type="xs:string" />
      <xs:element minOccurs="0" name="Username" type="xs:string" />
      <xs:element name="Role" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PersonIdDocumentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="NIF" />
      <xs:enumeration value="NIE" />
      <xs:enumeration value="PASSPORT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UserRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMIN" />
      <xs:enumeration value="SELLER" />
      <xs:enumeration value="BUYER" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>