UniSell.NET/UniSell.NET.ConsoleClient/Service References/UniSellWS/usermanagement1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.unisell.miw.uniovi/" xmlns:ns1="http://unisell.net.data/" targetNamespace="http://ws.unisell.miw.uniovi/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://156.35.98.14:8086/Unisell.Java.UserManagement/usermanagement?xsd=2" namespace="http://unisell.net.data/" />
  <xs:element name="ArgumentException" type="tns:ArgumentException" />
  <xs:element name="UnauthorizeAccessException" type="tns:UnauthorizeAccessException" />
  <xs:element name="disableAccount" type="tns:disableAccount" />
  <xs:element name="disableAccountResponse" type="tns:disableAccountResponse" />
  <xs:element name="enableAccount" type="tns:enableAccount" />
  <xs:element name="enableAccountResponse" type="tns:enableAccountResponse" />
  <xs:element name="listUsersByFilter" type="tns:listUsersByFilter" />
  <xs:element name="listUsersByFilterResponse" type="tns:listUsersByFilterResponse" />
  <xs:element name="login" type="tns:login" />
  <xs:element name="loginResponse" type="tns:loginResponse" />
  <xs:complexType name="enableAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg1" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enableAccountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:editUserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editUserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="userData" type="tns:userData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userData">
    <xs:sequence>
      <xs:element name="accountEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="documentType" type="ns1:PersonIdDocumentType" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="idDocument" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="surname" type="xs:string" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnauthorizeAccessException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArgumentException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="disableAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg1" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="disableAccountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:editUserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listUsersByFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg1" type="ns1:UserSearchFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listUsersByFilterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:editUserData" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>